[submodule "tonyfast/wypes"]
	path = tonyfast/wypes
	url = https://gist.github.com/tonyfast/6382152537773be2ffc208c3d4e526c2
[submodule "tonyfast/gidget"]
	path = tonyfast/gidget
	url = https://gist.github.com/tonyfast/00ae53f59c9340f71b9605eca1d07019
[submodule "tonyfast/qr"]
	path = tonyfast/qr
	url = https://gist.github.com/tonyfast/646e4f4f216286c6aa0a17fadba2c505
[submodule "tonyfast/jschema"]
	path = tonyfast/jschema
	url = https://gist.github.com/tonyfast/fee98e31e3da90c3606c5dc14a703f0c
[submodule "tonyfast/ainteractive"]
	path = tonyfast/ainteractive
	url = https://gist.github.com/tonyfast/e387e567cebf4ec726be9f1bde6503f5
[submodule "tonyfast/why-importnb"]
	path = tonyfast/why-importnb
	url = https://gist.github.com/tonyfast/15c6ac8f005a5522291f08d95619e085
[submodule "tonyfast/notebook-documents"]
	path = tonyfast/notebook-documents
	url = https://gist.github.com/tonyfast/7b66a5d9b09c4754c4a7577242975cb1
[submodule "tonyfast/nasa"]
	path = tonyfast/nasa
	url = https://gist.github.com/tonyfast/79779f89e749c72e72b6b4470b512496
[submodule "tonyfast/pydantic-essays"]
	path = tonyfast/pydantic-essays
	url = https://gist.github.com/tonyfast/d845d7a63ba24aab895a1580b8702aff
[submodule "tonyfast/literacy"]
	path = tonyfast/literacy
	url = https://gist.github.com/tonyfast/3b66729ac43e6e47ea38e882091b7b71
[submodule "tonyfast/github-api"]
	path = tonyfast/github-api
	url = https://gist.github.com/tonyfast/2f9a447428e5eaad2f1bd772c3cf5e80
[submodule "tonyfast/poser"]
	path = tonyfast/poser
	url = https://gist.github.com/tonyfast/84c1a8700ccc95cf68757244218d2efd
