[submodule "tonyfast/wypes"]
	path = tonyfast/wypes
	url = https://gist.github.com/tonyfast/6382152537773be2ffc208c3d4e526c2
[submodule "tonyfast/gidget"]
	path = tonyfast/gidget
	url = https://gist.github.com/tonyfast/00ae53f59c9340f71b9605eca1d07019
[submodule "tonyfast/qr"]
	path = tonyfast/qr
	url = https://gist.github.com/tonyfast/646e4f4f216286c6aa0a17fadba2c505
[submodule "tonyfast/jschema"]
	path = tonyfast/jschema
	url = https://gist.github.com/tonyfast/fee98e31e3da90c3606c5dc14a703f0c
