datasette
sqlite-utils
nbsphinx
rdflib
requests
webcolors
black
rfc3986
hvplot
requests-cache
nbconvert
isort
jsonschema
matplotlib
nbval
notebook
nest-asyncio
rdflib-jsonld
strict-rfc3339
jsonpointer
pytest
pandas
pyyaml
networkx
importnb
pyld
idna
toolz
rfc3987
wheel
